{% extends 'base.html.twig' %}

{% block body %}
    <h1>Data Table Exampleeeeee</h1>
    <table id="datatable">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
            <!-- Add more columns here as needed -->
        </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Include DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include DataTables JavaScript library -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                processing: true,
                serverSide: true,
                columns: [
                    { data: 'product' },
                    { data: 'quantity' },
                    { data: 'price' },
                    { data: 'description' },
                    { data: 'id'},
                    // Add more columns here as needed
                ],
                // ... other DataTable options ...
            });
        });
    </script>
{% endblock %}
